<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel - Welldoers</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/admin-panel/admin.css" />
    <link rel="stylesheet" href="/styles/admin-panel/admin-header.css" />
    <link rel="stylesheet" href="/styles/admin-panel/admin-partners.css" />
  </head>
  <body>
    <form method="POST" action="/logout">
      <button type="submit" class="logout">
        <img src="/img/icon-sign-out.svg" alt="" />
      </button>
    </form>
    <div class="dashboard">
      <%- include('partials/admin-menu') %>
      <div class="content">
        <form
          method="POST"
          action="/admin/partners/update"
          enctype="multipart/form-data"
        >
          <% imageUrls.forEach((partner) => { %>
          <div class="partner-container">
            <label for="<%= partner.name %>_name">Partner Name</label>
            <input
              type="text"
              name="<%= partner.name %>_name"
              value="<%= data[partner.name].name %>"
              required
            />

            <label for="<%= partner.name %>_website">Partner Website</label>
            <input
              type="text"
              name="<%= partner.name %>_website"
              value="<%= data[partner.name].website %>"
              required
            />

            <label for="<%= partner.name %>_image">Current Image</label>
            <img
              class="current-image"
              src="<%= partner.imageUrl %>"
              alt="<%= data[partner.name].name %>"
            />

            <label for="<%= partner.name %>_new_image">New Image</label>
            <input type="file" name="<%= partner.name %>_new_image" />

            <hr />
          </div>
          <% }); %>
          <button type="submit">Save Changes</button>
        </form>
      </div>
    </div>
  </body>
</html>
